# Node / Hardhat
node_modules/
cache/
artifacts/

# Caches
.cache/
.cache_hardhat/
.cache_hardhat-tron/
.cache-tron/
coverage/
coverage.json

# Foundry
out/
broadcast/

# Editor / OS
.DS_Store

# Environment
.env